<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>PublicPhotho</title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	</head>
	<body class="animated flipInY">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand"href="/">Inicio</a>
			<a class="navbar-brand"href="/signup">Registrate</a>
			<a class="navbar-brand"href="/signin">Inicia Secion</a>
		</nav>
		<center><h1>PublicPhotho</h1></center>
		<div class="card mx-auto"style="width: 18rem;">
			<div class="card-body mx-auto">
				<p class="card-text">Bienvenido PublicPhotho crea Tus directorios de fotos publicos totalmente 
				gratis en los cuales la gente podra ver comentar de sir se le gusta estre otras funcionalidades
				muy interesantes es fabuloso asi que registrate y guarda recuerdos por siempre en fotos las cules
				tambien cualquiera podra descargar en su computadora</p>
				<a href="/signup"class="card-link">Registrate</a>
				</div>
			</div>
		</div>
	</body>
</html>
